@media screen and (max-width: 1100px) {

    header.dash-cu .if-log .notification, header.dash-cu .if-log .conversation {
        border-radius: 6px;
        width: 24px;
        height: 24px;
    }

    header.dash-cu .if-log .notification i, header.dash-cu .if-log .conversation i {
        font-size: 12px;
    }

    header.dash-cu .if-log .notification.have-noti .num, header.dash-cu .if-log .conversation.have-noti .num {
        width: 8px;
        height: 8px;
        font-size: 4px;
    }

    header.dash-cu .if-log .menu-account .image {
        width: 30px;
        height: 30px;
        border-radius: 6px;
    }

    header.dash-cu .if-log .menu-account .text {
        font-size: 11px;
    }

    header.dash-cu .menu-account .acc-items {
        width: 130%;
        left: -20px;
    }

    .f-d-col-cu {
        flex-direction: column;
    }

    .f-d-col-cu button {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767.98px) {
    .notification-box {
        position: fixed;
        right: -3px;
        padding: 0 25px 0 15px;
    }

    .subject-tuught .item {
        margin: 13px 5px;
    }

    .login .over-text {
        top: 0% !important;
    }

    .have-left-shadow-orange:after, .have-right-shadow-orange:before, .have-left-shadow-green:after, .have-right-shadow-green:before {
        display: none;
    }

    .massage-box {
        right: 0px;
        padding-right: 30px;
    }

    .f-d-col-cu {
        flex-direction: row;
    }

    .f-d-col-cu button {
        margin-bottom: 0;
    }

    .f-c-reverse {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
    }

    .dash-box.requests .image {
        height: 60px;
    }

    .dash-box.requests table.res-block td:last-child, .dash-box.requests table.res-block th:last-child {
        padding-left: 25px !important;
    }

    table .absolute-td-item {
        position: absolute;
        right: 40px;
    }

    .table-cu-one tbody tr {
        position: relative;
    }

    .flex-dir-col-res {
        flex-direction: column;
    }

    .table-cu-one tbody tr td:last-child {
        justify-content: end !important;
        padding-right: 20px !important;
    }

    .dash-box.requests .border {
        margin-left: 5rem;
    }

    .dash-box.payment-history .border {
        margin-left: 0;
    }

    .dash-box.requests .if-open {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }

    /*header {*/
    /*display: none !important;*/
    /*}*/
    .cu-res-view {
        display: inline-flex !important;
        overflow-y: auto;
        width: 110%;
        margin-left: -5%;
        flex-direction: row;
        flex-wrap: nowrap !important;
    }

    .student-dash-item i {
        font-size: 30px;
        position: absolute;
        top: 13px;
        right: 3px;

    }

    .cu-res-view .dash-box.autor-activities {
        margin: 0 15px;
        padding: 25px 100px;
        cursor: pointer;
        float: left;
        width: 165px;
        height: 110px;
        display: inline-flex;
        align-content: center;
    }

    .student-dash-item {
        margin: 0 15px;
        padding: 25px 100px;
        cursor: pointer;
        float: left;
        height: 110px;
        display: inline-flex;
        align-content: center;
        font-size: 15px;
        width: 185px;
        margin-right: -20px;
    }

    .student-dash-item .title-md {
        font-size: 13px;
    }

    .cu-res-view .dash-box.autor-activities .small {
        width: 100%;
        position: absolute;
        left: 20px;
        top: 70px;
    }

    .cu-res-view .dash-box.autor-activities .title-md {
        width: 100%;
        position: absolute;
        left: 20px;
        top: 45px;
    }

    button.cu-pad {
        padding: 8pt 16pt;
    }

    .dash-box.payment button.cu-pad {
        padding: 3pt 16pt;
    }

    .sub-email-box {
        margin-bottom: -20px;
    }

    .small-res {
        font-size: 80%;
        font-weight: 400;
    }

    .res-non {
        display: none !important;
    }

    .res-block {
        display: block !important;
    }

    .s-50 {
        width: 50%;
    }

    .s-100 {
        width: 100%;
    }

    .s-25 {
        width: 25%;
    }

    .s-75 {
        width: 75%;
        margin: 0 auto;
    }

    .s-90 {
        width: 90%;
        margin: 0 auto;
    }

    .res-pl-1 {
        padding-left: 10% !important;
    }

    footer .line {
        width: 100%;
        margin-left: 0%;
    }

    footer button.footer-btn {
        height: 56px;
    }

    /*.home .search-box:before {*/
    /*display: none;*/
    /*}*/
    .or-1 {
        order: 1;
    }

    .or-2 {
        order: 2;
    }

    .or-3 {
        order: 3;
    }

    .or-4 {
        order: 4;
    }

    .home .sec-one {
        background-size: 80%;
        background-position: 50% 0%;
    }

    .home .avatar-box {
        margin: 25% 0;
    }

    .home .search-box:before {
        top: -100px;
        left: 9%;
        width: 201px;
        height: 136px;
        background-size: 200px;
    }

    .sec-one .right-side {
        width: 100%;
    }

    .home .search-box input {
        height: 50px;
        margin-bottom: 20px;
    }

    .home .search-box button {
        height: 50px;

    }

    .sec-one .left-side .head-text {
        text-align: center;
    }

    section.how-it-work:before {
        display: none;

    }

    .res-ma {
        margin: 0 auto !important;
    }

    .mbt-res {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .home .t-cat-i {
        border-right: 0;
    }

    .res-t-center {
        text-align: center !important;
    }

    .ml-res-0 {
        margin-left: 0 !important;
    }

    .j-c-sm-start {
        -ms-flex-pack: start !important;
        justify-content: start !important;
    }

    .j-c-sm-end {
        -ms-flex-pack: end !important;
        justify-content: end !important;
    }

    .align-i-e {
        align-items: flex-end !important;
    }

    .align-i-s {
        align-items: start !important;
    }

    .j-c-sm-center {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

    .mt-sm-3 {
        margin-top: 1rem !important;
    }

    .mt-ne50 {
        margin-top: -50px;
    }

    .j-c-sm-between {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }

    .f-c-res {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }

    .mb-res-4 {
        margin-bottom: 2rem !important;
    }

    .mb-res-2 {
        margin-bottom: 1rem !important;
    }

    .mt-res-4 {
        margin-top: 2rem !important;
    }

    .mt-res-2 {
        margin-top: 1rem !important;
    }

    .p-res-1 {
        padding: 1rem !important;
    }

    .over-text {
        font-size: 100pt !important;
        left: 0 !important;
        top: 0 !important;
    }

    .map-bac-over {
        width: 100%;
        left: 0;
    }

    .home .Membership .box-sh.spicial-system {
        right: 0;
        left: auto;
    }

    .home .Membership .box-sh.like {
        left: auto;
        right: 0;
    }

    header .header-item {
        font-size: 13px;
    }

    /*button {*/
    /*padding: 10px !important;*/
    /*height: auto !important;*/
    /*font-size: 10px !important;*/
    /*}*/
    .home .avatar-box .avatar {
        width: 26px;
        height: 26px;
    }

    .have-right-shadow, .have-left-shadow {
        display: none;
    }

    .home .avatar-box .avatar-i {
        width: 26px;
        height: 26px;
    }

    section.blog .over-text {
        top: -20px !important;
    }

    .navbrand-page ul li:after {
        right: -21px;
        font-size: 12px;
        top: 2px;
    }

    .navbrand-page ul li {
        margin-right: 33px;
        font-size: 13px;
    }

    .video-content {
        right: 60%;
        left: 40%;
    }

    .course-left-part .video-view .video-content button, .tutors-timezone .video-view .video-content button {

        height: 60px !important;
    }

    .courses-card, .tutors-card {
        display: table !important;
        padding-right: 1rem !important;
    }

    .res-f-col {
        flex-direction: column !important;
    }

    .tutors-card .image {
        width: 35%;
        margin: 0 auto;
        max-height: 140px;
        margin-bottom: 10px;
    }

    .tutors-card button {
        margin: 15px !important;

    }

    .box.active .question-b-item p.hide, .box.active .question-b-item div.hide {
        padding: 20px 0 !important;
    }

    .login .image.res-login-img {
        position: unset;
        width: 100%;
        background-color: #3f9eb7;
        margin-bottom: 25px;
        margin-top: 25px;
        border-radius: 0 !important;
    }

    .membership-ul-res {
        margin: 0 !important;
    }

    .membership-ul-res:last-child {
        margin-bottom: 25px !important;
    }

    .Membership .text-over {
        font-size: 44pt !important;
        top: -22px !important;
    }

    .membership-ul-res li {
        margin: 20px 0px 0px 30px !important;
    }

    section.item-cards .item-card .main {
        width: 100%;
        height: 100%;
    }

    section.item-cards .item-card .img {
        position: unset;
        margin: 0 auto;
    }

    section.item-cards .item-card .main .item {
        margin-top: -40px;
        padding: 7% 6% 6% 9% !important;

        padding-top: 80px !important;
    }

    .dash-box.no-res-bg {
        background-color: rgba(192, 192, 192, 0);
    }

    .text-just-4 {
        max-height: 7.5rem;
        overflow: hidden;
    }

    .Schedule .item {
        width: 40px;
        font-size: 11px !important;
    }

    .Schedule .item .btns-silver button {
        height: 30px;
        font-size: 9px;
    }

    section.item-cards .item-card {
        margin-bottom: 70px;
    }

    section.item-cards .item-card .header-text {
        text-align: center !important;

    }

    section.item-cards .item-card .main .num {
        position: unset;
        font-size: 45px;
        color: #0000000d;
        margin-right: -25px;
    }

    .profile-box .header-part .head-item:first-child {
        margin-left: 40px;
    }

    .profile-box .header-part .head-item:last-child {
        margin-right: 40px;
    }

    .profile-box .progress {
        width: 1200px !important;
    }

    .profile-box .header-part .head-item {
        white-space: nowrap;
    }

    .profile-box .progress.gold .progress-bar {
        width: 130px !important;
    }

    .profile-box .progress.w100 .progress-bar {
        width: 200px !important;
    }

    .profile-box .progress.w100 {
        padding-right: 13%;
    }

    .profile-box .progress.gold .progress-bar:last-child, .profile-box .progress.w100 .progress-bar:last-child {
        width: 0 !important;
    }

    .has-cu-pd-ma {
        padding-bottom: 46px !important;
        margin-bottom: 0 !important;
    }

    #Availability a {
        position: absolute;
        right: 15px;
        bottom: -10px;
    }

    .res-flex {
        display: flex !important;
    }

    .profile-box .courses-card .image {
        width: 90px;
        height: 90px;
    }

    .flex-res-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }

    .add-card table thead th {
        width: 45% !important;
    }

    .add-card table thead th:last-child {
        width: 10% !important;
    }

    .border-right {
        border-right: 0 !important;
        border-bottom: 1px solid #dee2e6 !important;
    }

    .message-dash-box {
        background-color: rgba(255, 255, 255, 0);

    }

    .notification-dash-box, .user-message-box {
        background-color: white;
    }

    .res-mb-5 {
        margin-bottom: 2rem !important;
    }

}

@media screen and (max-width: 560px) {
    .over-text {
        font-size: 66pt !important;
        left: 0 !important;
        top: 0 !important;
    }

    section.item-cards .item-card .img {
        position: unset;
        margin: 0 auto;
        width: 250px;
        height: 250px;
    }

}
